body {
     
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
     
}
#header {
     background: #445F3B;
     width: 100%;
     height: 55px;
}

#content {
     background: #E0EFEA;
     float: right;
     height: 90%;
}

#img{
    float:left;
    width: 20%;
}
#text{
    float: right;
    width: 80%;
    text-align: left;
    
}

#clear {
     clear: both;
}

#footer{
    background: #564734;
    width: 100%;
	height: 40px;
}
